<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./style.css">

    <title>Time Pizza Cutter</title>
  </head>
  <body>
    <div class="container" id="app">
      <section id="header">
        <h1>Time Pizza Cutter</h1>
      </section>
      <section id="settings">
        <h3>Define your Time Size and Portions</h3>
        <form>
          <div class="form-group row">
            <label for="minutes" class="col-sm-2 col-form-label">Size</label>
            <div class="input-group col-sm-4">
              <input type="number" class="form-control form-control-lg" placeholder="##" v-model="settings.minutes">
              <div class="input-group-append">
                <span class="input-group-text">minutes</span>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="portions" class="col-sm-2 col-form-label">Portions</label>
            <div class="col-sm-4">
              <input type="number" class="form-control form-control-lg" id="portions" placeholder="##" v-model="settings.portions">
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-12">
              <button v-if="showStartButton" v-on:click.prevent="start" class="btn btn-primary btn-lg btn-block">Start</button>
              <button v-if="showResetButton" v-on:click.prevent="reset" class="btn btn-primary">Reset</button>
            </div>
          </div>
        </form>
      </section>

      <section id="the-time-pizza">
        <h2>The Time Pizza</h2>

        <p>
          You have done <span class="highlight">{{ portionsDoneCount }} portions</span>
          at <span class="highlight">{{ portionsDoneMinutesAverage }} minutes</span> per portion.
        </p>

        <div>
          <div class="progress">
            <div class="progress-bar bg-info" role="progressbar" v-bind:style="{ width: timeLeftPercentage + '%' }" v-bind:aria-valuenow="timeLeftPercentage" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <p class="text-right small">{{ timeLeftHumanFormat }}</p>
        </div>

        <p>
          You still have <span class="highlight">{{ portionsToDoCount }} portions</span> left,
          proportional distributed you have <span class="highlight">{{ portionsToDoMinutesEach }} minutes</span> per portion.
        </p>

        <div>
          <div class="progress">
            <div class="progress-bar bg-info" role="progressbar" v-bind:style="{ width: timeLeftPercentageActualPortion + '%' }" v-bind:aria-valuenow="timeLeftPercentageActualPortion" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <p class="text-right small">{{ timeLeftActualPortionHumanFormat }}</p>
        </div>

        <p>
          <form>
            <div class="form-group row">
              <div class="col">
                <button v-on:click.prevent="portionDone" class="btn btn-primary btn-lg btn-block">Portion done</button>
              </div>
            </div>
            <div class="form-group row">
              <div class="col text-right">
                or
                <button v-on:click.prevent="portionUndone"  class="btn btn-primary btn-sm">Portion undone</button>
              </div>
            </div>
          </form>
        </p>

      </section>
    </div>

    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- underscore -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>

    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- App -->
    <script src="./script.js"></script>
  </body>
</html>
